*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    min-height: 100vh;
    background: rgb(54, 3, 196);
    background: linear-gradient(135deg, rgb(51, 1, 187) 44%, rgba(0,0,0,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}